.todo-page-container {
  position: relative;
  height: 100vh;
  transition: transform 0.4s ease;
  justify-content: center;
  padding: 0;
  margin-left: 10rem;
}

.todo-page-container.sidebar-open {
  transform: translateX(250px);
}

.todo-page-container.sidebar-closed {
  transform: translateX(80px);
}

.todo-header {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.todo-container {
  top: 10%;
  background-color: rgb(27, 26, 85);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  width: 40rem;
  height: auto;
  position: relative;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(83, 92, 145);
}

.add-todo-input {
  color: rgba(255, 255, 255, 0.76);
  background-color: rgb(7, 15, 43);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  width: 85%;
  margin-bottom: 1.5rem;
  height: 1.3rem;
}

.todo-list ul {
  margin-top: 0;
  list-style: none;
  margin-right: 5rem;
}

.todo-list-item {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(83, 92, 145);
  margin-left: -40px;
  cursor: pointer;
}

.todo-text {
  font-size: 1.3rem;
}

.category {
  margin-left: 5em;
  padding: 0.7rem;
  border-radius: 0.8rem;
}

.category-select {
  margin-left: 2rem;
  color: rgba(255, 255, 255, 0.76);
  background-color: rgb(7, 15, 43);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
}

.category-container {
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  height: 2.6rem;
}

.todo-list-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-save-button,
.todo-add-button,
.todo-remove-button,
.todo-edit-button,
.todo-complete-button,
.todo-clear-button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: rgb(83, 92, 145);
  border: none;
  border-radius: 0.5rem; 
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-save-button:hover,
.todo-add-button:hover,
.todo-remove-button:hover,
.todo-edit-button:hover,
.todo-complete-button:hover,
.todo-clear-button:hover {
  background-color: rgb(7, 15, 43);
  border: none;
  outline: none;
}

.completed {
  text-decoration: line-through;
}