.todo-page-container {
  position: relative;
  height: 100vh;
  transition: transform 0.4s ease;
  justify-content: center;
  padding: 0;
  margin-left: 10rem;
}

.todo-page-container.sidebar-open {
  transform: translateX(250px);
}

.todo-page-container.sidebar-closed {
  transform: translateX(80px);
}

.todo-header {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.todo-container {
  top: 10%;
  background-color: rgb(27, 26, 85);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  width: 40rem;
  height: auto;
  position: relative;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

.add-todo-input {
  color: rgba(255, 255, 255, 0.76);
  background-color: rgb(7, 15, 43);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  width: 85%;
  margin-bottom: 1.5rem;
  height: 1.3rem;
}

.todo-add-button {
  height: 40px;
  color: rgba(255, 255, 255, 0.76);
  background-color: rgb(7, 15, 43);
  padding: 5px 24px;
  font-size: 1em;
  margin-bottom: 20px;
}

.todo-clear-button {
  color: rgba(255, 255, 255, 0.76);
  background-color: rgb(7, 15, 43);
  height: 40px;
  padding: 5px 24px;
  font-size: 1em;
  margin-top: 5px;
}

.todo-list ul {
  margin-top: 0;
  list-style: none;
  margin-right: 5rem;
}

.todo-list-item {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  margin-left: -40px;
  cursor: pointer;
}

.todo-text {
  font-size: 1.3rem;
}

.category {
  margin-left: 5em;
}

.category-select {
  margin-left: 2rem;
  color: rgba(255, 255, 255, 0.76);
  background-color: rgb(7, 15, 43);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
}

.category-container {
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  height: 2.6rem;
}

.todo-list-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-save-button {
  color: rgba(255, 255, 255, 0.76);
  margin-left: 40px;
  padding: 5px 12px;
  font-size: 1em;
}

.todo-cancel-button {
  color: rgba(255, 255, 255, 0.76);
  margin-left: 10px;
  padding: 5px 12px;
  font-size: 1em;
}

.todo-remove-button {
  color: rgba(255, 255, 255, 0.76);
  margin-left: 40px;
  padding: 5px 12px;
  font-size: 1em;
}

.todo-edit-button {
  color: rgba(255, 255, 255, 0.76);
  margin-left: 10px;
  padding: 5px 12px;
  font-size: 1em;
}

.todo-complete-button {
  margin-left: 10px;
  padding: 5px 12px;
  font-size: 1em;
}

.completed {
  text-decoration: line-through;
}